@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,600;1,700&display=swap');

:root {
  --highlight-colour: #0066ff;
  --pastel-colour: #f5faff;
  --blueshadow-colour: #e5edf6;
  --greyshadow-colour: #d5d5d5;
  --main-colour: #00487b;
  --complementary-colour: #f7b500;
  --background--colour: #f1f1f1;
}

/*base styles*/
body {
  font-size: 100%;
  font-weight: 700;
}

h1 {
  font-size: 2.2em;
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;

}

p {
  font-size: 1.3em;
  font-weight: 400;
}

* {
  margin: auto;
  font-family: 'Caveat';
  color: var(--main-colour);
  text-align: center;
}

/*Navigation bar*/
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid var(--pastel-colour);
  margin: auto;
  margin-bottom: 1%;
  padding: 1%;
}

.navbar h1 {
  text-align: left;
  color: var(--highlight-colour);
  font-family: 'Playfair Display';
  padding: 2%;
}
.navbar .name{
  flex: 70%;
}
.navbar .links{
  flex: 30%;
}

.navbar a {
  display: inline-flex;
  text-decoration: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 5%;
}

.navbar a:hover {
  color: var(--pastel-colour);
  background-color: var(--highlight-colour);
  border-radius: 10px;
}

/*Feed*/
.feed {
  max-width: 85%;
}

.filter h1 {
  padding: 2%;
  display: inline-flex;
}

.feed .filter select {
  max-width: 40%;
  font-size: 1.8em;
}

/*dropdown menu for filter*/
select {
  background-color: var(--pastel-colour);
  font-family: 'Playfair Display';
  font-weight: 600;
  color: var(--complementary-colour);
  border-color: var(--pastel-colour);
  position: relative;
  border-radius: 10px;
}

select:hover {
  background-color: var(--complementary-colour);
  color: var(--pastel-colour);
}

/*start page*/
.start button{
  font-family: 'Playfair Display';
}

.start a {
  margin: 1%;
  color: var(--highlight-colour);
}

.start p {
  color: var(--complementary-colour);
}

/*list of threads*/
.list {
  display: flex;
  flex-wrap: wrap;
}

.parent {
  padding: 2%;
}

.content {
  border: 3px solid var(--pastel-colour);
  padding: 1%;
  padding-bottom: 2%;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 5px 5px var(--blueshadow-colour);
  min-width: 300px;
}

.content h2 {
  font-family: 'Caveat';
  color: var(--highlight-colour);
  font-size: 2.3em;
  margin: 2%;
}

.content h3 {
  font-family: 'Playfair Display';
  color: var(--complementary-colour);
  margin: 0.5em;
  background-color: var(--pastel-colour);
  border-radius: 5px;
  text-shadow: rgb(255, 255, 255) 1px 1px 1px;
}

.content p {
  color: var(--highlight-colour);
  padding: 2%;
}

.content h5 {
  margin: 1.5%;
}

.content a {
  text-decoration: none;
}

.content:hover {
  background-color: var(--pastel-colour);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
}


/*user account function buttons*/
button {
  font-size: 1.5em;
  background-color: var(--pastel-colour);
  color: var(--pasten-colour);
  padding: 0% 2% 0% 1%;
  border: none;
  border-radius: 10px;
  margin: 2%;
  position: relative;
  box-shadow: 5px 5px 5px var(--greyshadow-colour);
}

button:hover {
  box-shadow: 5px 5px 10px var(--highlight-colour);
  background-color: white;
}

.user .list {
  max-width: 70%;
}

.user h1 {
  font-family: 'Playfair Display';
  color: var(--main-colour);
  background-color: var(--pastel-colour);
  font-size: 2.3em;
  margin: 2% auto;
}

.user h3 {
  font-family: 'Playfair Display';
  margin-top: 2%;
}

.parentchild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
}

.parent_pc {
  flex: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.child_pc {
  flex: 30%;
}

/*new content templates*/
.createthread {
  width: 60%;
}

.create {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.create h2 {
  margin: 3% auto;
  font-family: 'Playfair Display';
  font-weight: 600;
}

.title {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1%;
  margin-bottom: 1%;
}

form {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--blueshadow-colour);
  width: 90%;
  padding: 3%;
  box-shadow: 5px 5px 5px var(--greyshadow-colour);
}

input {
  border: none;
  background-color: var(--pastel-colour);
  border-radius: 10px;
  font-size: 1.3em;
  margin: 2% auto;
  width: 70%;
}

input::placeholder {
  color: var(--greyshadow-colour);
}

label {
  font-weight: 600;
  margin: 2%;
  color: var(--highlight-colour);
}

.create select {
  font-size: 1em;
  margin: 2% auto;
}

.create button {
  margin: 3% auto;
  font-size: 1em;
  color: var(--pastel-colour);
  background-color: var(--highlight-colour);
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: none;
}

.create button:hover {
  box-shadow: 5px 5px 10px var(--complementary-colour);
  border: 2px solid white;
}

textarea {
  border: none;
  background-color: var(--pastel-colour);
  border-radius: 10px;
  font-size: 1.3em;
  width: 75%;
  margin: 2% auto;
}